[DEFAULT]
use_syslog = false
use_stderr = true
debug = {{ searchlight.debug }}
transport_url = rabbit://{{ rabbitmq.user }}:{{ rabbitmq.password }}@{{ address("rabbitmq") }}:{{ rabbitmq.port.cont }}/

[api]
bind_port = {{ searchlight.api_port.cont }}
bind_host = {{ network_topology["private"]["address"] }}

[service_credentials]
auth_plugin = password
username = {{ searchlight.user }}
password = {{ searchlight.password }}
tenant_name = service
os_region_name = RegionOne
auth_uri = {{ address('keystone', keystone.public_port, with_scheme=True) }}
auth_url = {{ address('keystone', keystone.admin_port, with_scheme=True) }}

{{ keystone_authtoken(searchlight.user, searchlight.password) }}

[paste_deploy]
flavor = keystone

[oslo_concurrency]
lock_path = /var/lib/searchlight/temp

[listener]
notifications_pool = searchlight

[resource_plugin]
resource_group_name = searchlight

[service_credentials:nova]
compute_api_version = 2.1

[resource_plugin:os_nova_server]
enabled = {{ searchlight.services.nova }}
admin_only_fields = OS-EXT-SRV*,OS-EXT-STS:vm_state

[resource_plugin:os_nova_hypervisor]
enabled = {{ searchlight.services.nova }}

[resource_plugin:os_nova_flavor]
enabled = {{ searchlight.services.nova }}

[resource_plugin:os_nova_servergroup]
enabled = {{ searchlight.services.nova }}

[resource_plugin:os_glance_image]
enabled = {{ searchlight.services.glance }}

[resource_plugin:os_glance_metadef]
enabled = {{ searchlight.services.glance }}

[resource_plugin:os_cinder_volume]
enabled = {{ searchlight.services.cinder }}

[resource_plugin:os_cinder_snapshot]
enabled = {{ searchlight.services.cinder }}

[resource_plugin:os_neutron_net]
enabled = {{ searchlight.services.neutron }}
admin_only_fields=admin_state_up,status

[resource_plugin:os_neutron_port]
enabled = {{ searchlight.services.neutron }}

[resource_plugin:os_neutron_security_group]
enabled = {{ searchlight.services.neutron }}

[resource_plugin:os_designate_zone]
enabled = false

[resource_plugin:os_designate_recordset]
enabled = false

[resource_plugin:os_swift_account]
enabled = {{ searchlight.services.swift }}

[resource_plugin:os_swift_container]
enabled = {{ searchlight.services.swift }}

[resource_plugin:os_swift_object]
enabled = {{ searchlight.services.swift }}

[elasticsearch]
hosts = {{ address('elasticsearch', elasticsearch.port, with_scheme=True) }}
